<h1 class= "title"><%= image_tag('/assets/413.png') %> picture</h1>
<h5 class= "title">あなたの写真を全世界へ</h5><br><br>
<h6 class= "toplink"><%= link_to "新しく始める", new_user_path, class:"title" %>　　
<%= link_to "ログインする", new_session_path, class:"title" %></h6>
